@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */

/* * {
  text-align: center;
  background-color: rgb(28, 28, 59);
  margin: 0;
  position: relative;
  top: 50%;
}
.title {
  color: rgb(100, 235, 235);
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.unit {
  display: inline-block;
  background-color: rgb(212, 20, 20);
}

.button[type="reset"] {
  display: inline-block;
  color: brown;
} */
